$themeTextBlue: #5895f8; // 文字以及背景蓝色
$themeTextGray: #999; // 文字灰颜色
$themeTextGray2: #666; // 文字灰颜色
$themeBg: #f8f8f8; // 主背景色
$themeTitleBg: #f0f6ff; // 标题颜色
$themeTextRed: #ff0000;

$smallFontSize: 12px; // 网页最小字体,用于提示信息以及标题描述等
$baseFontSize: 14px; // 网页基本字体大小
$mediumFontSize: 16px; // 标题等字体大小
